.answer {
    display: none;
}

body {
    background: url("./assets/images/background-pattern-mobile.svg") no-repeat;
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    background-color: hsl(275, 100%, 97%);
    font-family: 'Work Sans', sans-serif;
}

.title-wrapper{
    display: flex;
}

.faq-wrapper{
    background-color: white;
    border-radius: 4px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    
}

h1{
    font-size: 2rem;
    margin: 0;
}

h3{
    font-size: 1rem;
    width: 100%;
}

p{
    font-size: 1rem;
    margin: 0;
}

.icon-button {
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    cursor: pointer;
    display: inline-block; /* Ensure the button takes only the necessary space */
}

/* Optional: Add styles to the icon itself */
/* .icon-button img {
    width: 24px; 
    height: 24px; 
} */

.question{
    display: flex;
    flex-direction: column;
}

.question-wrapper{
    display: flex;
    
}

.close{
    display: none;
}

.open{
    display: block;
}